* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333333;
  position: relative;
  margin-bottom: 60px;
  display: inline-block;
}
.title::first-letter {
  text-transform: uppercase;
}
.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
}
.home {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  z-index: 1;
  color: #fff;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.home__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 200px);
}
.nav {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-right: 30px;
}

.nav__link:last-child {
  margin-right: 0;
}
.nav__link::before {
  filter: brightness(10);
}
.nav__link:hover {
  color: #2352de;
  transition: color 0.3s linear;
}
.menu-btn {
  display: none;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .nav__list {
    display: none;
    position: absolute;
    right: 0;
    top: -70px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 45px;
    background-color: rgb(243, 16, 16);
    padding: 150px 0 130px 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }
  .nav__item {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
  }
  .nav__active {
    display: flex;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 30px;
  }

  .menu__item {
    font-size: 0;
    height: 5px;
    width: 30px;
    background-color: #fff;
    display: block;
    position: relative;
  }
  .menu__item::before,
  .menu__item::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: #fff;
  }
  .menu__item::before {
    top: 10px;
    left: 0;
  }
  .menu__item::after {
    bottom: 10px;
    left: 0;
  }
  .menu__active .menu__item {
    height: 0;
  }
  .menu__active .menu__item::before {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  .menu__active .menu__item::after {
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }
}
.home__titles {
  margin-top: 200px;
}
.home__small--title {
  font-size: 30px;
  line-height: 65px;
  align-items: center;
  color: #ffffff;
}
.home__title {
  font-size: 48px;
  line-height: 65px;
  align-items: center;
  color: #ffffff;
}
.home__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  display: block;
  position: relative;
}
.home__link::before {
  content: "";
  position: absolute;
  background-image: url(./img/icons/arrow.svg);
  background-repeat: no-repeat;
  width: 37px;
  height: 21px;
  /* top: 50px; */
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* @keyframes arrow {
  from {
    top: 40px;
  }
  to {
    top: 50px;
  }
} */
@keyframes arrow {
  0% {
    top: 40px;
  }
  50% {
    top: 60px;
  }
  100% {
    top: 40px;
  }
}

.about {
  margin-top: 139px;
  margin-bottom: 138px;
}
.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 60px;
}
.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}
.about__text:last-child {
  margin-top: 30px;
}

.skils {
  background-color: #f6f6f8;
}
.skils__inner-all {
  display: flex;

  align-items: center;
}
.skils__img {
  padding-bottom: 140px;
  margin-bottom: 140px;
}
.skils__list {
  margin-left: 90px;
}
.skils__item {
  margin-top: 85.71px;
  display: flex;
  align-items: center;
}
.skils__item:first-child {
  margin-top: 0;
}
.skils__in {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  width: 55px;
  margin-right: 10px;
}
.skils__rating {
  background-color: #2352de;
  height: 32px;
  display: block;
}
.skils__graphic {
  background-color: #dbdbed;
  width: 600px;
  height: 32px;
}

.services {
  background: #ffffff;
  padding-top: 140px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__description {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 25px;
}
.services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 330px;
  width: 100%;
}
.services__logo {
  margin-bottom: 30px;
}

.project {
  padding-top: 140px;
}
.project__line {
  display: flex;
}
.project__item {
  margin-right: 44px;
  margin-top: 44px;
}
.project__item:last-child {
  margin-right: 0;
}
.project__image::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s linear;
}
.project__image::after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 20px;
  position: absolute;
  background-image: url(./img/icons/vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.project__link:hover .project__image::before {
  background-color: rgba(110, 156, 159, 0.64);
}
.project__link:hover .project__image::after {
  background-image: url(./img/icons/vector.svg);
}
